<HTML>
	<HEAD>
		<!-- sementic ui -->
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>	
	
		<!-- leaflet.js -->
		<link href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" rel="stylesheet">
		<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
		
		<!-- leaflet.markerCluster -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.2.0/MarkerCluster.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.2.0/MarkerCluster.Default.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.2.0/leaflet.markercluster-src.js"></script>	
		
		<script src="/socket.io/socket.io.js"></script>
		<script src="javascripts/MapPage.js" type="text/javascript"></script>	

		<TITLE>MapPage</TITLE>
	</HEAD>
	
	<BODY onload="init()">
		<div class="ui menu">
			<div style='width : 100%; text-align:center; margin-top: 5%; margin-bottom: 5%' id="show_sidebar">
				<h style='font-size:30pt;'>Visitor's Book</h>
			</div> 

			<input type="hidden" id="lat" name="lat"/>
			<input type="hidden" id="lng" name="lng"/>
			<input type="hidden" id="userId" name="userId" value="<%= user.id %>"/>
		</div>

		<div id="map" style="left : 5%; top : 5%; width : 90%; height :70%; margin-top: 5%;"></div>			
	</BODY>
</HTML>