<HTML>
	<HEAD>
		<!-- sementic ui -->
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>	
	
		<!-- leaflet.js -->
		<link href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" rel="stylesheet">
		<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
		
		<!-- leaflet.markerCluster -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.2.0/MarkerCluster.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.2.0/MarkerCluster.Default.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.2.0/leaflet.markercluster-src.js"></script>	

		<TITLE>MapPage</TITLE>
	</HEAD>
	
	<BODY>
		<div class="ui sidebar vertical menu">
			<a id="userId" name="userId" class="item"><%= user.id %></a>
			<a id="logout" class="item" href="./logOutAction">log-out</a>
			<a class="item" href="./mapPage">map</a>
		</div>
		<div class="pusher">
			<div class="ui menu">
				<div class="item" id="show_sidebar">
					<a class="launch icon item">
						<i class="content icon"></i>
					</a>
				</div> 
				<div class="right item">
					<input type="text" id="lat" name="lat"/>
					<input type="text" id="lng" name="lng"/>
				</div>
			</div>

			<div id="map" style="left : 5%; top : 5%; width : 90%; height : 90%;"></div>			
		</div>


		
		<script type="text/javascript">
			$('#show_sidebar').click(function(){
				$('.ui.sidebar').sidebar('toggle');
			});

			// 기본 뷰 전세계
			var map = L.map('map').setView([0, 0], 1);

			// 범위 지정 -- 안하면 지도가 반복적으로 나오지만 지도마다 좌표가 다르다
			var layerBoundStart = L.latLng(-85, -180);
			var layerBoundEnd = L.latLng(85, 180);
			var layerBounds = L.latLngBounds(layerBoundStart, layerBoundEnd);
			
			//var mapBoundStart = L.latLng(-10000, -500);
			//var mapBoundEnd = L.latLng(10000, 500);
			//var mapBounds = L.latLngBounds(mapBoundStart, mapBoundEnd);

			// 마커 클러스터 : 마커 병합해서 숫자로 표시해주는 기능
			var markers = new L.MarkerClusterGroup();
			var markersList = [];
			
			L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
				attribution : '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
				bounds : layerBounds,
				minZoom : 1
			}).addTo(map);

			//map.setMaxBounds(mapBounds);
			map.on('click', onMapClick);
			map.on('mousemove', onMouseMove);
			
			var rows = JSON.parse('<%- JSON.stringify(contents) %>');
					
			for(var i = 0; i < rows.length; i++){
				var lat = rows[i].lat;
				var lng = rows[i].lng;

				//var marker = L.marker(L.latLng(lat, lng)).addTo(map);
				var marker = L.marker(L.latLng(lat, lng));
				marker.on('click', onMarkerClick);

				markersList.push(marker);
				markers.addLayer(marker);
			}

			map.addLayer(markers);

			var jsonPacket = {
				command : "",
				content_idx : 0,
				user_id : "",
				title : "",
				content : "",
				lat : 0,
				lng : 0,
				datetime : ""
			};

			function httpReqAndRes(msg, url) {
				var req = getXmlHttpRequest();
				req.open('post', url, false);
				req.setRequestHeader('Content-Type', 'application/json');
				req.send(msg);
				
				var resText = req.responseText;
				var resJson;

				try{
					resJson = JSON.parse(req.responseText);
					return resJson;
				}
				catch(exception){
					return resText;
				}
			}
			
			function getXmlHttpRequest(){
				var req;

				if( window.XMLHttpRequest ){
					req = new XMLHttpRequest();
				} 
				else if( window.ActiveXObject ){
					// 옛날 IE를 위한 코드
					req = new ActiveXObject("Microsoft.XMLHTTP");      
				}

				return req;
			}

			function onMouseMove(e){
				var lat = e.latlng.lat;
				var lng = e.latlng.lng;
				
				if( lat > 85 || lat < -85 || lng > 180 || lng < -180 ){
					return;
				}

				var inputLat = document.getElementById("lat");
				var inputLng = document.getElementById("lng");

				inputLat.value = e.latlng.lat;
				inputLng.value = e.latlng.lng;
			}

			var popup = L.popup({ closeButton: false });

			function onMapClick(e) {
				var lat = e.latlng.lat;
				var lng = e.latlng.lng;
				
				if( lat > 85 || lat < -85 || lng > 180 || lng < -180 ){
					alert("out of map");
					return;
				}

				popup.setLatLng(e.latlng);

				$.get("/createContentPage").done(function(data){
					popup.setContent(data);
				});
				
				popup.openOn(map);
			}

			function onMarkerClick(e){
				initPacket();

				jsonPacket.command = "SELECT";
				jsonPacket.lat = e.latlng.lat;
				jsonPacket.lng = e.latlng.lng;
				
				var receive = httpReqAndRes(JSON.stringify(jsonPacket), '/mapAction');
				
				popup.setLatLng(e.latlng);
				popup.setContent(receive);
				popup.openOn(map);
				
				var uid = document.getElementById("userId").innerHTML;
				var author = document.getElementById("popup_id").innerHTML;

				if (uid == author) {
					document.getElementById("edit_button").type = 'button';
					document.getElementById("delete_button").type = 'button';
				}

				jsonPacket.command = "COMMENT";
				jsonPacket.content_idx = document.getElementById('popup_idx').innerHTML;

				var rows = httpReqAndRes(JSON.stringify(jsonPacket), '/mapAction');

				var html = popup.getContent();
				popup.setContent(html + makeCommentsHtml(rows));

				if (uid == author) {
					document.getElementById("edit_button").type = 'button';
					document.getElementById("delete_button").type = 'button';
				}
			}

			function makeCommentsHtml(rows){
				if(rows.length == 0){
					return "";
				}
				var html = '<br>';
				
				html += '<div style="padding : 15px; border : 1px solid black; overflow : scroll; height : 150px;">';
				for(var i = 0; i < rows.length; i++){
					html += '<div id="' + rows[i].comment_idx + '" ' + 
							'onclick="onCommentClick(this)">';
					html += '<input id="group_no" type="hidden" value="' + rows[i].group_no + '"/>';
					html += '<label>';

					for(var j = 0; j < rows[i].depth; j++){
						if(j == rows[i].depth-1){
							html += '└';
						}
						html += '&nbsp&nbsp&nbsp';
					}
					html += rows[i].user_id + ' : ';
					html += rows[i].comment;
					html += '</label>';
					html += '<div style="text-align : right;">';
					html += rows[i].datetime;
					html += '</div>';
					html += '<textarea id="comments_comment' + rows[i].comment_idx + 
					'" style="display:none; overflow:auto; width:60%; height:20px;" maxlength="99"></textarea>' + 
					'<input type="hidden" id="comments_write_button' + rows[i].comment_idx + '" ' + 
					'value="Write" style="width : 30%;" onclick="onPopupWriteClick(2, this)" class="ui primary button">' + 
					'<br>';
					html += '</div>';

					//console.log("comment_idx : " + rows[i].comment_idx);
				}
				html += '</div>';

				return html;
			}

			function onPopupSaveClick() { 
				initPacket();
				
				jsonPacket.command = "INSERT";
				jsonPacket.user_id = document.getElementById("userId").innerHTML;
				jsonPacket.title = document.getElementById('title').value;
				jsonPacket.content = document.getElementById('content').value;
				jsonPacket.lat = popup.getLatLng().lat;
				jsonPacket.lng = popup.getLatLng().lng;

				var receive = httpReqAndRes(JSON.stringify(jsonPacket), '/mapAction');

                if (receive.command == "SUCCESSFUL") {
                    alert("Your post has been Saved successfully.");
                }
                else {
                    alert("Something wrong on your post. Please contact to server manager.");
				}
				
                location.reload();
			}
			
			function onPopupCloseClick() {
				map.closePopup();
			}
			
			function onPopupDeleteClick() {
				initPacket();

				jsonPacket.command = "DELETE";
				jsonPacket.content_idx = document.getElementById("popup_idx").innerHTML;

				var receive = httpReqAndRes(JSON.stringify(jsonPacket), '/mapAction');

                if (receive.command == "SUCCESSFUL") {
                    alert("Your post has been Deleted successfully.");
                }
                else {
                    alert("Something wrong on your post. Please contact to server manager.");
				}
				
				location.reload();				
			}
			
			function onPopupUpdateClick(){
				initPacket();

				jsonPacket.command = "UPDATE";
				jsonPacket.title = document.getElementById('popup_edit_title').value;
				jsonPacket.content = document.getElementById('popup_edit_content').value;
				jsonPacket.content_idx = document.getElementById("popup_edit_idx").innerHTML;

				var receive = httpReqAndRes(JSON.stringify(jsonPacket), '/mapAction');

                if (receive.command == "SUCCESSFUL") {
                    alert("Your post has been Saved successfully.");
                }
                else {
                    alert("Something wrong on your post. Please contact to server manager.");
				}
				
                location.reload();
			}

			function onPopupEditClick() {
				var title = document.getElementById("popup_title").innerHTML;
				var content = document.getElementById("popup_content").innerHTML;
				var content_idx = document.getElementById("popup_idx").innerHTML;

				$.get("/editContentPage").done(function(data){
					popup.setContent(data);
					document.getElementById("popup_edit_title").value = title;
					document.getElementById("popup_edit_content").value = content;
					document.getElementById("popup_edit_idx").innerHTML = content_idx;
				});

				popup.openOn(map);
			}

			function onPopupWriteClick(check, clickedObj){
				var commentPacket = {
					command : "",
					p_content_idx : 0,
					p_comment_idx : null,
					user_id : "",
					comment : "",
					depth : "",
					group_no : null
				};				

				if(check == 1){
					commentPacket.command = "CREATE_COMMENT";
					commentPacket.p_content_idx = document.getElementById("popup_idx").innerHTML;
					commentPacket.user_id = document.getElementById("userId").innerHTML;
					commentPacket.comment = document.getElementById('popup_comment').value;
					commentPacket.depth = 0;
				}
				else if(check == 2){
					commentPacket.command = "CREATE_COMMENT";
					commentPacket.p_content_idx = document.getElementById("popup_idx").innerHTML;
					commentPacket.user_id = document.getElementById("userId").innerHTML;
					commentPacket.comment = document.getElementById('comments_comment' + clickedObj.parentNode.id).value;
					commentPacket.depth = 1;
					commentPacket.group_no = clickedObj.parentNode.firstChild.value;
				}
				
				var receive = httpReqAndRes(JSON.stringify(commentPacket), '/mapAction');

				if (receive.command == "SUCCESSFUL") {
                    alert("Your post has been Saved successfully.");
                }
                else {
                    alert("Something wrong on your post. Please contact to server manager.");
				}

				location.reload();
			}

			function onCommentClick(clickedObj){
				//alert(clickedObj.id);
				document.getElementById('comments_comment' + clickedObj.id).style.display = "block";
				document.getElementById('comments_write_button' + clickedObj.id).type = "button";
			}

			function initPacket(){
				jsonPacket = {
					command : "",
					content_idx : 0,
					user_id : "",
					title : "",
					content : "",
					lat : 0,
					lng : 0,
					datetime : ""
				};
			}
		</script>
	</BODY>
</HTML>