<HTML>
    <HEAD>
        <TITLE>ShowContentPopup</TITLE>
    </HEAD>
    <BODY>
        <strong>Title : </strong>
        <br>
        <input style="width : 100%;" type="text" id="title" maxLength="40" size="40" name="id" value="">
        <br><br>

        <strong>Context : </strong>
        <br>
        <textarea style="overflow:auto; width:300px; height:75px;" name="textarea" id="content" rows="5" cols="40"></textarea>
        <br><br>

        <input type="button" style="width : 30%;" onclick="onPopupSaveClick()" class="ui primary button" value="Save">
        <input type="button" style="width : 30%;" onclick="onPopupCloseClick()" class="ui secondary button" value="Close">
    </BODY>
</HTML>