<HTML>
	<HEAD>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
		
		<script src="javascripts/LoginPage.js" type="text/javascript"></script>
		<style>

		div.absolute {
		    position: absolute;
		    top: 380px;
		    left: 180px;
		   
		}
</style>
		<TITLE>LoginPage</TITLE>
	</HEAD>
	
	<BODY>
		<div class="absolute">	
			<div class="ui middle aligned center aligned grid">
				<div class="column">
					<h2 class="ui teal image header">
						<div class="content" style="font-size: 40pt; margin-bottom: 40px;">
							Log-in to your account
						</div>
					</h2>
					<form id="loginForm" class="ui large form" action="/loginAction" method="post">						
						<div class="ui stacked segment">
							<div class="field">
								<div class="ui left icon input">
									<input type="text" name="id" placeholder="ID" maxlength="20"  style="font-size: 30pt;">
								</div>
							</div>
							<div class="field" >
								<div class="ui left icon input">
									<input type="password" name="pw" placeholder="Password" maxlength="20" style="font-size: 30pt;">
								</div>
							</div>							
							<div class="ui fluid large teal button" onclick="onLoginClick();" style="font-size: 25pt; ">
								Log-in
							</div>
						</div>
					</form>

					<div class="ui message" style="font-size: 25pt;">
						New to us? &nbsp <a href="./signUpPage">Sign Up</a>
					</div>
				</div>
			</div>
		</div>
	</BODY>
</HTML>
